.SingleRecipe{
    display: flex;
    margin: 50px auto;
    width: 70%;

    
}

.leftSide{
    padding: 10px 20px;
}
.leftSide_title{
    font-size: 20px;
    font-weight: 500;
}

.leftSide_img{
    margin-top: 20px;
    border-radius: 10px;
    width: 500px;
    height: 400px;
}

.rightSide{
    width:80%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightSide_btn{
    width: 70%;
    height: 33px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.btn_on{
    width: 70%;
    height: 33px;
    background-color: rgb(18, 18, 69);
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 10px;
}

.rightSide_comp{
    width: 80%;
    /* border: 1px solid black; */
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    word-spacing: 5px;
}

.recipe_ing{
    width: 80%;
    /* border: 1px solid black; */
    padding: 5px 5px 5px 30px;
    
}

.recipe_ing li {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}